<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/wentHotel.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="/javascript/wentHotel.js"></script>
</head>

<body>
    <% include ../layout/main/navbar %>
    <div id="side_bar" class="row-offcanvas row-offcanvas-left">
        <% include ../layout/main/sidebar %>
        <div id="main">
            <br>
            <div class="container">
                <h3>추천 결과</h3>
                <ul class="card-list">
                    <% for(var i=0; i<hotels.length; i++) { %>
                        <li class="card">
                            <a class="card-image" href="/hotel/<%= hotels[i].hotel._id %>" target="_blank" style="background-image: url(<%= hotels[i].hotel.mainImg %>);" data-image-full="<%= hotels[i].hotel.mainImg %>">
                    			<img src="<%= hotels[i].hotel.mainImg %>" alt="Psychopomp" />
                    		</a>
                            <a class="card-description" href="#>">
                                <h2><%= hotels[i].hotel.name %></h2>
                                <p>유사한 사용자 : <%= hotels[i].userId %></p>
                            </a>
                        </li>
                    <% } %>
                </ul>

            </div>

        </div>
    </div>


    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>

</html>
