<div class="col-md-12">
    <div id="tab-card" class="card">
        <!-- 카테고리 탭 -->
        <ul class="nav nav-tabs" role="tablist" id="tabUl">

            <% for(var i=0; i<location.length; i++) { %>
                <% if(i == 0) { %>
                    <li role="presentation" class="active">
                        <a id="tagButton" href="#" onclick="onclickFunction('<%= location[i].name %>');" type="button" aria-controls="<%= location[i].name %>" role="tab" data-toggle="tab">
                            <%= location[i].name %>
                        </a>
                    </li>
                    <% } else { %>
                        <li role="presentation">
                            <a id="tagButton" href="#" onclick="onclickFunction('<%= location[i].name %>');" type="button" aria-controls="<%= location[i].name %>" role="tab" data-toggle="tab">
                                <%= location[i].name %>
                            </a>
                        </li>
                        <% } %>
                            <% } %>

        </ul>

        <!-- 웹툰 탭 -->
        <div class="tab-content">
            <div class="row">
            <% if(hotels) { %>

                <% for(var i=0; i<hotels.length; i++) {%>

                    <div class="col-xs-3">
                        <div class="card" id="webtoon_card">
                            <a class="img-card" href="/hotel/<%= hotels[i]._id %>">
                                    <img src="<%= hotels[i].mainImg %>"/>
                                </a>
                            <div class="card-content">
                                <h4 class="card-title">
                                        <a href="#">
                                            <%= hotels[i].name %>
                                        </a>
                                    </h4>
                                <div class="">
                                    <%= hotels[i].address %>
                                </div>
                            </div>
                            <div class="card-read-more">
                                <a class="btn btn-link btn-block" href="/hotel/<%= hotels[i]._id %>">
                                        더 보기
                                    </a>
                            </div>
                        </div>
                    </div>
                    <% } %>
                <% } %>
            </div>
        </div>
    </div>
</div>
