<div id="shadow"></div>
<div id="container">
    <div id="mainimage">
        <div id="heart">
            <span class="entypo-heart"></span>
        </div>
        <span class="likes"></span>
        <div id="slides">
            <img src="<%= book.image %>" title="image" />
        </div>
    </div>

</div>
<div>
    제    목 : <%= book.bookname %><br>
    작    가 : <%= book.author %><br></span>
    출 판 사 : <%= book.publisher %><br> </span>
    출판년도 : <%= book.publisher_year %><br></span>                    

</div>