<div class="container">

    <div class="col-sm-6 col-sm-offset-3">

        <h1>
            <span class="fa fa-sign-in"></span> 회원가입</h1>

        <!-- show any messages that come back with authentication -->
        <% if (message.length > 0) { %>
            <div class="alert alert-danger">
                <%= message %>
            </div>
            <% } %>

                <!-- LOGIN FORM -->
                <form action="/users/signup" method="post" id="signupForm">
                    <div class="form-group">
                        <label>이메일</label>
                        <input type="email" class="form-control" id="email" name="email">
                    </div>
                    <div class="form-group">
                        <label>비밀번호</label>
                        <input type="password" class="form-control" id="password" name="password">
                    </div>
                    <div class="form-group">
                        <label>비밀번호 확인</label>
                        <input type="password" class="form-control" id="repassword" name="repassword">
                    </div>
                    <div class="form-group">
                        <label>이름</label>
                        <input type="text" class="form-control" id="name" name="name">
                    </div>
                    <div class="form-group">
                        <label>사는 지역</label>
                        <select class="form-control" id="location" name="location">
                                <% for(var i=0; i<locations.length; i++) { %>
                                    <option value="<%= locations[i].name %>"><%= locations[i].name %></option>
                                <% } %>
                            </select>
                    </div>
                    <div class="form-group">
                        <label>성별</label>
                        <select class="form-control" id="sex" name="sex">
                            <option value="남자">남자</option>
                            <option value="여자">여자</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>나이</label>
                        <input type="number" name="age" id="age" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>선호장르</label>
                        <select class="form-control" id="part" name="part">
                            <% for(var i=0; i<parts.length; i++) { %>
                                <option value="<%= parts[i]._id %>">
                                    <%= parts[i].partName %>
                                </option>
                                <% } %>
                        </select>
                    </div>
                    <br>
                    <button type="submit" class="btn btn-info btn-lg btn-block">회원가입</button>
                </form>
                <hr>
                <p>회원가입을 하셨어요??
                    <a href="/users/login">로그인</a>
                </p>
                <p>
                    <a href="/">처음으로</a>.</p>
    </div>
</div>